.datos{
    margin: 1rem 10%;
    border-radius: 15px;
    border: 5px solid white;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.datos p{
    text-align: center;
    border-bottom: 3px solid white;
    font-size: 18px;
}
