.Contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    transition: 1s;
}


.siguiente{
    width: 49%;
    height: 2rem;
    margin: 3% 0.5%;
    background-color: #BCFFBC;
    border-radius: 5px;
    border: none;
    margin-left: 0.5%;
    margin-right: 0.5%;
    transition: 1s;
    font-size: 1rem;
    font-weight: 700;
}

.siguiente:hover{
    background-color: #7ff37f;
    width: 50%;
    margin: 3% 0%;
    box-shadow: 10px 10px 5px #45a745; 
}


.megusta{
    height: 2rem;
    width: 49%;
    margin: 0%;
    background-color: #a2edff;
    border-radius: 5px;
    border: none;
    margin-left: 0.5%;
    margin-right: 0.5%;
    transition: 1s;
    font-size: 1rem;
    font-weight: 700;
}
.megusta:hover{
    background-color: #6ed5ef;
    width: 50%;
    margin: 3% 0%;
    box-shadow: 10px 10px 5px #4c9fb4; 
}

.agregarmirar{
    width: 99%;
    margin: 0.5rem 1% 0.5rem 1%;
    height: 2rem;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    font-weight: 700;
    transition: 1s;
    background-color: #ffcaf2;
}

.agregarmirar:hover{
    background-color: #f1aade;
    box-shadow: 10px 10px 5px #ad759f;
}